body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.comtaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f8ad66;
    color: rgb(155, 119, 119);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e89c53;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f8ad66;
    color: rgb(155, 119, 119);
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #e89c53;
}
